body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 140px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-nav > li:hover{
    background-color: #165121;
}

#break{
    height: 10px;
}

/*ABOVE NAVBAR*/

.navtop{
    background-color: white;
    padding-bottom: 5px;
}

#navtopContainer{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

#contactBanner{
    text-align: right;
    padding-right: 15px;
}

#openingHrs{
    margin-left: 15px;
}

#hours{
    font-size: 12px;
}

#locationBanner{
    font-size: 12px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
#bannerTitle{
    font-size: 13px;
    font-weight: bold;
    color: #165121;
    
}
#contactNumber{
    font-size: 26px;
}

#contactInfomationGroup{
    padding-top: 20px;
}

/*INDEX PAGE BANNER*/
.body-content
.bannerImg {
    width: 100%;
}

.bannerImg img {
    display: block;
    max-width: 100%;
}

.text {
    border: 1px solid red;
}

.bannertext{
    position: absolute;
    top: 200px;
    left: 7%;
    width: 86%;
    color: white;
    text-align: center;
}

#googleText{
    font-family: 'Kalam', cursive;
}

/*INDEX BOX TILES*/
#boxTile{
    background-color: #165121;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}